body {
	background-color: #003333;
	color: lightgray;
}

#przelicz {
	position: absolute;
	margin-top: 650px;
	width: 100px;
    position: absolute;
    left: 29%;
    margin-left: -51px;
}

#ukryj {
	position: absolute;
	width: 170px;
    right: 250px;
	top: 83%;
    margin-left: -51px;
}

#reset {
	position: absolute;
	width: 150px;
    right: 700px;
	top: 83%;
    margin-left: -51px;
}

#odkryj {
	position: absolute;
	width: 170px;
    right: 150px;
	top: 83%;
    margin-left: -51px;
}

#container {
	margin: auto;
}

#left-container {
	margin-top: 100px;
	float: left;
	padding: 10px;
	color: lightgray;
	width: 25%;
	z-index: 100;
}

#right-container {
	margin-top: 100px;
	float: left;
	padding: 10px;
	color: lightgray;
	width: 40%;
	z-index: 100;
}

#middle-container {
	color: lightgray;
	margin-right: auto;
	margin-left: auto;
	width: 650px;
}

#zalety {
	margin-left: 10%;
	float: left;
	padding-left: 30%;
	padding-right: 20px;
	overflow-y:scroll;
	overflow-x:hidden;
	height:800px !important;
	min-width:348px;
	position:relative;
	left:3px;
}

#wady {
	float: right;
	margin-right: 100px;
	padding-right: 30%;
	padding-right: 20px;
	padding-left: 20px;
	overflow-y:scroll;
	overflow-x:hidden;
	height:750px !important;
	min-width:248px;
	position:relative;
	left:3px;
}

#middle {
	width: 60%;
	float: left;
	height: 800px;
}

#left-part {
	float: left;
	width: 125px;
	margin-top: 300px;
	text-align: center;
}

#right-part {
	float: left;
	width: 125px;
	margin-top: 300px;
	text-align: center;
}

#chart-container {
	float: left;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	color: lightgray;
	width: 400px;
	height: 420px;
}

.group {
	color: #191919;
	opacity: 0.4;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	box-shadow: 0px 0px 5px #414141;
}

.group p {
	font-size: 50px;
	margin-top: 60px;
}

.group:hover{
	filter: brightness(60%);
	cursor: pointer;
}

.group .colorWord {
	width: 200px;
	position: absolute;
	color: white;
	font-wweight: bold;
	text-align: center;
	font-size: 27px;
	opacity: 0;
}

.colorWord:hover {
	opacity: 1;
}

#green {
	margin-bottom: 20px;
	background-color: #358E23;
	float: left;
}

#red {
	margin-top: 20px;
	background-color: #aa0000;
	float: right;
}


#blue {
	margin-top: 20px;
	background-color: #005ce6;
	float: left;
}


#yellow {
	margin-bottom: 20px;
	background-color: #ddcc00;
	float: right;
}

#yellow .up {
	margin-left: 10px;
}

#red .up {
	margin-left: 10px;
}

#green .up {
	margin-left: 5px;
}

#blue .up {
	margin-left: 5px;
}


	
	
	
	
	
	
	
	
	
